Source: upaas-common
Maintainer: Łukasz Mierzwa <l.mierzwa@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: 2.6, 2.7

Package: python-upaas-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-plumbum (>= 1.4.2),
 python-tastypie-queryset-client (>= 0.7.2),
 python-yaml (>= 3.11),
 python-requests (>= 2.3.0),
 python-netifaces (>= 0.8),
 python-pymongo (>= 2.7),
 python-timestring (>= 1.6.0)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: uPaaS common classes

